.overflow-hidden {
  overflow: hidden;
}

.font-weight-medium {
  font-weight: 500 !important;
}

.border-primary {
  border-color: var(--lv-primary) !important;
}

/* snipcart */
.snip-layout .snip-layout__main-container {
  top: 100px;
}

.snip-header__title {
  color: #fff;
} 

.snipcart-cart-header{
  margin-top: 140px;
} 

.event-bg{
  padding: 50px 0 !important;
}  

.gallery{
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;   

  & li{
    list-style: none;
    margin: 1rem;
  }
}

.prevArrow,
.nextArrow {
  position: absolute;
  top: 50%;
  border: 0;
  font-size: 2rem;
  background: transparent;
  color: var(--lv-primary);
  z-index: 9;
}

.prevArrow:focus,
.nextArrow:focus {
  outline: 0;
}

.prevArrow {
  left: 0;
}

.nextArrow {
  right: 0;
}
 
 
 
