.content ul {
  padding-left: 0;
}

.content ul li {
  position: relative;
  // padding-left: 0.5rem;
  margin-bottom: 0.5rem;
  // margin-left: 1rem;
}

 .content ul li::before { 
   content: "";
 }
 .content ul li::marker { 
  content: "";
}
  
li,
li::marker{
  font-family: var(--lv-font-family-paragraph) !important;
}


.content ul li::before {
  content: url('https://api.iconify.design/ph/caret-circle-right.svg?color=%2359b41d&width=20&height=20');
  line-height: 0.8rem;
  margin-right: 0.5rem;
  text-align: center;
	vertical-align: middle;
}
  
  